/Challange_05.class
/MainThread.class
/Thread1.class
/Main.class
/threadMain.class
/salary.class
/thread2.class
/Salary.class
/thread1.class
/ThreadMain.class
/Thread2.class
/Main$1.class
/Main$2.class
/Main$3.class
/ThreadMain$1.class
